.block-1 {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220522/pngtree-ecommerce-banner-planning-segmentation-selection-image_1375247.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    padding: 20px;
    color: white;
}

.para1 {
    margin: 10% 60% 0px 10%;
}

.button {
    padding: 60px 0;
    margin: 0 25%;
}

/*main */
.main {
    margin-bottom: -16px;
    background-size: 100%;
   
}

.main-1 {
    display: flex;
    
}
.para-main {
    margin: 10px 50px 20px 10px;
    padding: 10px 70px 10px 10px;
}

/* .about-value {
    display: flex;
    color: white;
    justify-content: center;
} */

.mission {
    background-color: #7049dd;
    width: auto;
    /* margin-left: 5px;
    padding:30px;
    height: 250px;
    
    margin-bottom: 20px; */
}

.vision-img {
    margin-top:10px;
   background-color: rgb(64, 170, 170);
    /* background-size: 80% 95%; */
    /* background-repeat: no-repeat; */
    /* width:40%; */
    /* margin: 0 0 5px 20px;
    padding: 20px; */
    color: darkmagenta;
}

/*Services*/
.services {
    background-color: #6c757d17;
}
/*subscribe section */
.sub-heading{
    color: rgb(221 155 69);
}
/* .well{
    padding: 20px;
} */
.subscribe{
    margin: 65px 87px;
}
/*footer*/
.footer{
    background-color: #7049dd;
}
.icons{
    font-size: 30px;
}
.links{
    list-style-type: none;
}
.links li a{
    color: black;
    text-decoration: none;
}
.list{
    list-style-type: none;
}